body,html{
    width: 100%;
    margin: 0;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;

}

*{
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

.logo {
    margin-left: 0;
    padding-bottom: 0;
    padding-top: -15px;
    align-content: center;
    display: flex;
    justify-content: space-around;
    align-items: left;
}

.navbar {
    background: #3C1A5B;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
}

div.container_navbar {
    margin: 0;
    padding-right: 8px;
    padding-left: 8px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    font-size: x-large;
}

.menu {
    display: none;
}
.menu-line {
    width: 20px;
    height: 3px;
    background-color: white;
    margin-bottom: 4px;
}

@media all and (max-width: 480px) {

    .nav_links {
        flex-direction: column;
    }
    .menu {
        display: block;
        position: absolute;
        right: 15px;
        top: 15px;
    }
    
}

@media all and (max-width: 600px) {

    .nav_links {
        flex-direction: column;
    }
    .menu {
        display: block;
        position: absolute;
        right: 15px;
        top: 15px;
    }
    .flex-container {
        display: flex;
        position: relative;
        padding: 0;
        margin-bottom: 5%;
        margin-top: auto;
        align-items: inherit;
    }
    
}

@media all and (max-width: 750px) {

    .nav_links {
        flex-direction: column;
    }
    .menu {
        display: block;
        position: absolute;
        right: 15px;
        top: 15px;
    }
    .flex-container {
        display: flex;
        position: absolute;
        padding: 0;
        margin-bottom: 5%;
        margin-top: auto;
        align-items: inherit;
    }
    .click {
        margin-top: 5%;
        padding: 8px;
        margin-bottom: auto;
        position: absolute;
    }
    
}
@media all and (max-width: 1200px) {

    .nav_links {
        flex-direction: row;
    }
    .menu {
        display: block;
        position: absolute;
        right: 15px;
        top: 15px;
    }
    .flex-container {
        display: flex;
        position: relative;
        padding: 0;
        margin-bottom: 5%;
        margin-top: auto;
        align-items: inherit;
    }
    
}
.container_navbar {
    width: 100%;
    padding-top: 0%;
    background-color: transparent;
    display: flex;
    justify-content: space-around;
}

.inline-block li a {
    display:block;
}

.nav_links li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 10px;
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: top;
    justify-content: right;
}

.nav_links li a:hover {
    color: rgb(197, 161, 2);
    transition: .3s;
}

.nav_links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    float: left;
    color: #f2f2f2;
    text-align: right;
    padding: 8px 8px;
    text-decoration: none;
    font-size: 16px;
    align-items:flex-end;
}

.header {
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

/*-- Myskills flex box and containers are below--*/

.mySkills {
    margin-top: 5%;
    margin-bottom: 0%;
    padding: 0px;
    text-align: center;
}

div .flex-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  background-color: transparent;

}

.flex-container {
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 24px;
    font-size: 16px;
}

.flex-container h3 {
    padding: 0;
    margin: 0;
    font-weight: bold;
    font-size: x-large;
    padding-top: 25px;
    padding-bottom: 25px;
}

.flex-container div {
    border-color: transparent;
    max-width: 100%;
}

.flexbox-item-1 {
    padding: 10%;
    margin-right: 10px;
}

.flexbox-item-2 {
    padding: 10%;
    margin-right: 10px;
}

.flexbox-item-3 {
    padding: 10%;
    margin-right: 10px;
}

.flex-item {
    flex: 50%;
    width: 400px;
    margin: 10px;
    background-color: black;
}

/*-- variable widths for flex box and cards and content--*/

.flexbox-item-1 {
    width: var(--cardWidth);
    height: var(--cardHeight);
    margin: var(--cardMargin);
    border: 1px solid #ccc;
    border-radius: 8px;
    background: #fff;
    box-sizing: border-box;
    min-height: 100px;
    min-width: 200px;
}

.flexbox-item-2 {
    width: var(--cardWidth);
    height: var(--cardHeight);
    margin: var(--cardMargin);
    border: 1px solid #ccc;
    border-radius: 8px;
    background: #fff;
    box-sizing: border-box;
    min-height: 100px;
    min-width: 200px;
}

.flexbox-item-3 {
    width: var(--cardWidth);
    height: var(--cardHeight);
    margin: var(--cardMargin);
    border: 1px solid #ccc;
    border-radius: 8px;
    background: #fff;
    box-sizing: border-box;
    min-height: 100px;
    min-width: 200px;
}

/*-- Start of My works section --*/

.myWork {
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 10px;
    text-align: center;
}

.section {
    display: flex;
    justify-content: space-around;
    align-items: left;
    margin: auto;
}

.modal {
    background: rgba(0, 0, 0, 0.6);
    opacity: 0.6;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

.container {
    overflow: hidden;
}

div.col-md-4 img {
    justify-content: center;
    display: grid;
    object-fit: cover !important;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(auto-fit, minmax(800px, 1fr));
}

div.img {
    overflow: hidden;
}

div.col-md-4 img:hover {
    transform: scale(1.2);
    transform: ALL 0.3S ease-out;
}

div.card-body {
    margin: 0;
    width: 100vh;
    height: inherit;
    padding: 2%;
}

div.workGrid {
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 8px;
    text-align: left;
    display: grid;
    justify-content: center;
    border-color: transparent;
    overflow: hidden;
}

div.DoeRedo {
    margin-bottom: 10px;
    padding: 8px;
    text-align: left;
    display: grid;
    justify-content: center;
    border-color: transparent;
}

div.GivingTree {
    margin-top: 10px;
    padding: 8px;
    text-align: left;
    display: grid;
    justify-content: center;
    border-color: transparent;
    align-content: space-around;
}

/*--button function fot my works--*/

button.click {
    margin-left:70px;
    margin-top: 50px;
}

.click {
    margin: 20px;
    padding: 8px;
    position: relative;
    border: none;
    background: #7b38B8;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #ffffff;
    transform: translate(-50%, -50%);
    border-radius: 4px;
}

.click:hover {
    padding: 8px;
    border: none;
    background: #3C1A5B;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #ffffff;
    transform: scale(95%);
    transition: .3s;
    transform: translate(-50%, -50%);
}

.click:enabled {
    border-bottom: none;
}

/*--View All Projects here--*/

.viewall {
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 10px;
    text-align: center;
}
/*--footer section--*/
.footer {
    display: flex;
    padding: 8px 0;
    margin: 0;
    background-color: none;
    justify-content: space-around;
    padding-top: 10px;
    text-decoration: none;
}

.footer_links {
    padding: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    list-style-type: none;
}

.footer a {
    margin: 0;
    padding: 4px;
    display: flex;
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    margin: 8px;
    justify-content: flex-start;
}

section.footer {
    margin: 0%;
}
.footer a:hover {
    color: rgb(197, 161, 2);
    transition: .3s;
}

/* still working on the footer layout. May use a grid to added favicons...*/
div.social {
    text-align: right;
    padding-bottom: 25px;
    color: white;
}

.footer {
    background-color: #3C1A5B;
    background-position: center;
}
